.button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #021464;
    color: white;
    cursor: pointer;

    font-family: "Inter", sans-serif;
}

.button:hover {
    background-color: #011e96;
}

.important {
    background-color: brown;
}

.important:hover {
    background-color: #c72929;
}

.transfer {
    background-color: #005200;
}

.transfer:hover {
    background-color: #008a00;
}
